.calendar {
font-family:'맑은 고딕';
font-size:1.3em;
text-align:center;
}

.month {
padding-left:10px;
font-size:1.8em;
font-weight:bold;
text-align:left;
}

.d-day {
background-color:#fcc;
color:#f33;
}
